[user]
    email = falko@uw.edu
    name = Falko Goettsch
[push]
    default = simple
[core]
    editor = vim
    excludesfile = /home/falko/.dotfiles/.gitignore
    filemode = true
[github]
    token = REDACTED
[color]
    ui = auto
[alias]
    co = checkout
    cob = checkout -b
    b = branch
    pushall = !git remote | xargs -L1 git push --all
